<div class="container mt-5">
  <h2>URL Info</h2>
    <div class="form-group" *ngxPermissionsOnly="Roles.USER">
      <label for="baseUrl">Base URL:</label>
      <input type="text" [(ngModel)]="url.baseUrl"  class="form-control" 
      (input)="onInputChange()" [disabled]="!(isUrlCreator() || isAdmin())">
    </div>
    <div class="form-group" *ngxPermissionsOnly="Roles.USER">
      <label for="description">Description:</label>
      <textarea class="form-control" [(ngModel)]="url.description" (input)="onInputChange()" [disabled]="!(isUrlCreator() || isAdmin())" style="resize: none;"></textarea>
    </div>
    <div class="form-group" *ngxPermissionsOnly="Roles.ADMIN">
      <label for="userId">Url Id:</label>
      <input type="text" [value]="url.id" class="form-control" disabled>
    </div>
    <div class="form-group" *ngxPermissionsOnly="Roles.ADMIN">
      <label for="userId">User ID:</label>
      <input type="text" [value]="url.userId" class="form-control" disabled>
    </div>
    <div class="form-group" *ngxPermissionsOnly="Roles.USER">
      <label for="userName">User Name:</label>
      <input type="text" [value]="url.userName" class="form-control" disabled>
    </div>
    <div class="form-group" *ngxPermissionsOnly="Roles.USER">
      <label for="slug">Slug:</label>
      <input type="text" [value]="url.slug" class="form-control" disabled>
    </div>
    <div class="form-group" *ngxPermissionsOnly="Roles.USER">
      <label for="createdAt">Created At:</label>
      <input type="text" [value]="url.createdAt | date : 'dd/MM/yyyy HH:mm:ss'" class="form-control" disabled>
    </div>
    <div class="form-group">
      <label for="modifiedAt" *ngxPermissionsOnly="Roles.USER">Modified At:</label>
      <input type="text" [value]="url.modifiedAt | date : 'dd/MM/yyyy HH:mm:ss'" class="form-control" disabled>
    </div>
    <div class="form-group" *ngxPermissionsOnly="Roles.USER">
      <label for="domain">Domain:</label>
      <input type="text" [value]="url.domain" class="form-control" disabled>
    </div>
    <div *ngIf="isUrlCreator() || isAdmin()">
      <button type="button" [disabled]="!areChangesMade" class="btn btn-primary ml-1 mr-1" (click)="saveChanges()">Save Changes</button>
      <button type="button" class="btn btn-danger ml-1 mr-1" (click)="delete()">Delete</button>
    </div>
</div>
