<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">UrlShortener</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <ng-container *ngIf="isAuthenticated(); then myUrls"></ng-container>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/about']">About</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Urls</a>
          </li>
          <ng-container *ngIf="isAuthenticated(); then logout else login"></ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>

<ng-template #login>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/login']"
      >Login</a>
  </li>
</ng-template>

<ng-template #logout>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <div class="d-flex align-items-center">
      <div class="ml-3 mr-0">
        <p class="username">({{getUsername()}})</p>
      </div>
      <div class="ml-0 mr-2">
        <a class="nav-link text-dark ml-0 mr-2" [routerLink]="['/logout']">Logout</a>
      </div>
    </div>
  </li>
</ng-template>

<ng-template #myUrls>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/my']"
      >My Urls</a>
  </li>
</ng-template>