a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-expand-sm .navbar-nav .nav-link {
    margin: 0 15px;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.username {
  text-align: center;
  margin-bottom: 0px;
}

.link-active {
  background-color: #b8b8b8; 
}